:root{
    --light-bg : #e8e8e3;
    --light-yellow-text:#c5c5c5;
    --grey-text : #282522;
    --light-grey-text : #6b645c;
    --grey-bg:#615c56;
    --brown-bg:#38322c;
    --darkBrown-bg:#131110
}
